body {
  font-family: "Titillium Web", sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-main-fighters {
  background-color: #fff;
  position: relative;
  width: 100%;
}

.navbar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 65px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
}

.hidden {
  display: none !important;
}

.header-content-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.header-content-mobile span {
  align-items: center;
  color: #000;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  height: 90%;
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header-content-mobile {
    display: none;
  }

  .header-content-desktop {
    display: flex !important;
  }
}

.header-content-desktop {
  align-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  height: 65px;
  justify-content: space-evenly;
  transition: background-color 2s ease-in-out;
  width: 100%;
  display: none;
}

.header-content-desktop span {
  align-items: center;
  color: #000;
  display: flex;
  font-size: 0.8em;
  font-weight: bold;
  height: 90%;
  padding: 0 10px;
  text-transform: uppercase;
}

.header-content-desktop span:hover {
  border-bottom: 2px solid #c00707;
}

.isdark {
  background-color: #000;
}

.isdark span {
  color: #fff;
}

.header-content-desktop span img,
.header-content-mobile span img {
  height: 66px;
  width: 98px;
}

.lists-fighters {
  align-content: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px;
  border-top: 1px solid rgb(189, 174, 174);
}

@media (min-width: 1024px) {
  .lists-fighters {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.flip-card {
  height: 250px;
  margin: 30px;
  perspective: 1000px;
  width: 250px;
}

.contenedor-flip-card-inner {
  height: 250px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.7s ease-in-out;
  width: 250px;
}

.flip-card:hover .contenedor-flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card .contenedor-fighter-front,
.flip-card .contenedor-fighter-back {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}

.flip-card .contenedor-fighter-back {
  box-shadow: 0 0px 22px 0 rgb(0 0 0 / 16%), 0 10px 19px 0 rgb(0 0 0 / 12%);
  transform: rotateY(180deg);
}

.contenedor-fighter-front {
  backface-visibility: hidden;
  background: #fff;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.contenedor-fighter {
  height: 100%;
  margin-bottom: 40px;
  width: 100%;
}

.contenedor-imagen {
  align-items: center;
  border-bottom: 2px solid #eeeeef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.imagen-fighter {
  height: auto;
  margin: 0 auto -2px;
  max-height: 100px;
  max-width: 160px;
  width: auto;
}

.contenedor-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}

.contenedor-info-apodo {
  color: #abadb1;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.125rem;
  margin: 0;
  padding: 15px 0 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.contenedor-info-nombre {
  color: #191919;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.75rem;
  margin: 0;
  padding: 0 0 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.contenedor-info-categoria {
  color: #585b63;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: center;
  width: 100%;
}

.contenedor-back-info {
  position: relative;
}

.imagen-fighter-back {
  display: block;
  height: 190px;
  max-width: 100%;
  object-fit: contain;
  padding-top: 17px;
  position: absolute;
  right: 40px;
  z-index: -1;
}

.contenedor-back-name-apodo {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 130px;
}

.contenedor-back-apodo {
  color: #abadb1;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.contenedor-back-nombre {
  color: #191919;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.3rem;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.button-perfil-atleta button {
  background-color: #000000;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.6rem;
  font-weight: 700;
  height: 42px;
  left: 20px;
  padding: 5px 10px;
  position: absolute;
  text-transform: uppercase;
  top: 150px;
  transition: background-color 0.5s ease-in-out;
  width: 136px;
}

.social-network-perfil {
  align-items: center;
  border-top: 1px solid #e5e5e7;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 33px;
  justify-content: space-around;
  position: absolute;
  top: 216px;
  width: 100%;
}

.social-network-perfil span {
  align-items: center;
  color: #a9a9ac;
  display: flex;
  font-weight: 700;
  height: 100%;
  justify-content: center;
}

.icons-socials {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icons-socials svg {
  padding: 0 5px;
}

.container-button-cargar-mas {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-button-cargar-mas button {
  background-color: #fff;
  border: 1px solid #d5d6d8;
  color: #000;
  cursor: pointer;
  font-size: 0.875rem;
  font-size: 0.9rem;
  font-weight: 700;
  height: 50px;
  line-height: 1rem;
  margin-bottom: 50px;
  padding: 1rem 2.25rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.5s ease-in-out;
  width: 300px;
}

.container-button-cargar-mas button:hover {
  background-color: #f5f5f5;
}

.section-categorias {
  margin-top: 90px;
}

.section-categorias-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section-categorias-nav-ul {
  font-size: 26px;
  cursor: pointer;
  color: #92949b;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
  margin: 5px;
}

@media (min-width: 768px) {
  .section-categorias-nav-ul {
    font-size: 3rem;
    margin-top: 6rem;
  }
}

.resaltado {
  color: #000;
}

.section-categorias-informacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-categorias-informacion p {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.section-categorias-informacion-input {
  width: 90%;
  border: none;
  background-color: #f8f8f8;
  padding: 10px 0 10px 50px;
  margin: 20px 50px;
  box-sizing: border-box;
}

.section-categorias-informacion-input::placeholder {
  color: #9c9c9c;
}

@media (min-width: 768px) {
  .section-categorias-informacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 100px 20px;
  }

  .section-categorias-informacion p {
    display: flex;
    justify-content: center;
    flex: 6;
  }

  .section-categorias-informacion-input {
    display: flex;
    flex: 2;
    justify-content: flex-end;
    margin: 0 0 0 80px;
    padding: 10px 10px;
  }
}
