body {
  font-family: "Titillium Web", sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

.content-main-fighters {
  background-color: #fff;
  position: relative;
}

.navbar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 65px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
}

.header-content-desktop {
  align-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  height: 65px;
  justify-content: space-evenly;
  transition: background-color 2s ease-in-out;
  width: 100%;
}

.header-content-desktop span {
  align-items: center;
  color: #000;
  display: flex;
  font-size: 0.8em;
  font-weight: bold;
  height: 90%;
  padding: 0 10px;
  text-transform: uppercase;
}

.header-content-desktop span:hover {
  border-bottom: 2px solid #c00707;
}

.isdark {
  background-color: #000;
}

.isdark span {
  color: #fff;
}

.header-content-desktop span img {
  height: 66px;
  width: 98px;
}

.lists-fighters {
  align-content: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: 140px;
}

.flip-card {
  height: 290px;
  margin: 30px;
  perspective: 1000px;
  width: 290px;
}

.contenedor-flip-card-inner {
  height: 290px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.7s ease-in-out;
  width: 290px;
}

.flip-card:hover .contenedor-flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card .contenedor-fighter-front,
.flip-card .contenedor-fighter-back {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}

.flip-card .contenedor-fighter-back {
  box-shadow: 0 0px 22px 0 rgb(0 0 0 / 16%), 0 10px 19px 0 rgb(0 0 0 / 12%);
  transform: rotateY(180deg);
}

.contenedor-fighter-front {
  backface-visibility: hidden;
  background: #fff;
  overflow: hidden;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.contenedor-fighter {
  height: 100%;
  margin-bottom: 40px;
  width: 100%;
}

.contenedor-imagen {
  align-items: center;
  border-bottom: 2px solid #eeeeef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.imagen-fighter {
  height: auto;
  margin: 0 auto -2px;
  max-height: 100px;
  max-width: 160px;
  width: auto;
}

.contenedor-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}

.contenedor-info-apodo {
  color: #abadb1;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.125rem;
  margin: 0;
  padding: 15px 0 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.contenedor-info-nombre {
  color: #191919;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.75rem;
  margin: 0;
  padding: 0 0 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.contenedor-info-categoria {
  color: #585b63;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: center;
  width: 100%;
}

.contenedor-back-info {
  position: relative;
}

.imagen-fighter-back {
  display: block;
  height: 235px;
  max-width: 100%;
  object-fit: contain;
  padding-top: 20px;
  position: absolute;
  right: 50px;
  z-index: -1;
}

.contenedor-back-name-apodo {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 130px;
}

.contenedor-back-apodo {
  color: #abadb1;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.contenedor-back-nombre {
  color: #191919;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.3rem;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.button-perfil-atleta button {
  background-color: #000000;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  height: 50px;
  left: 20px;
  position: absolute;
  text-transform: uppercase;
  top: 180px;
  transition: background-color 0.5s ease-in-out;
  width: 180px;
}

.social-network-perfil {
  align-items: center;
  border-top: 1px solid #e5e5e7;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 33px;
  justify-content: space-around;
  position: absolute;
  top: 257px;
  width: 100%;
}

.social-network-perfil span {
  align-items: center;
  color: #a9a9ac;
  display: flex;
  font-weight: 700;
  height: 100%;
  justify-content: center;
}

.icons-socials {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icons-socials svg {
  padding: 0 5px;
}

.container-button-cargar-mas {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-button-cargar-mas button {
  background-color: #fff;
  border: 1px solid #d5d6d8;
  color: #000;
  cursor: pointer;
  font-size: 0.875rem;
  font-size: 0.9rem;
  font-weight: 700;
  height: 50px;
  line-height: 1rem;
  margin-bottom: 50px;
  padding: 1rem 2.25rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.5s ease-in-out;
  width: 320px;
}

.container-button-cargar-mas button:hover {
  background-color: #f5f5f5;
}